<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>I'm just a guy who enjoys to make some useful tools (at least, thats what i think, i use them dayli). if you like my work, you can show me your support giving me a cup of coffee or just liking this tool clicking in the button bellow, you also can create me a note! i'll be reading it and publishing here :) </p>
    </div>
</div>