<div class="card">
    <div class="card-body">
        <h2>About</h2>
        <p>I'm just a guy who enjoys to make some useful tools (at least, thats what i think, i use them daily). if you like my work, you can show me your support giving me a cup of coffee or just liking this tool clicking in the button bellow, you also can give me some feedback! i'll be reading it and publishing here :) </p>
    </div>
</div>

<hr id="separator-line">

{{> feedback}}