<div class="card">
    <div class="card-body">
        <h2>About</h2>
        <p>I'm just a guy who enjoys to make some useful tools (at least, thats what i think, i use them daily). if you like my work, you can show me your support giving me a cup of coffee or just liking this tool clicking in the button bellow, you also can give me some feedback! i'll be reading it and publishing here :) </p>
    </div>
</div>

<hr id="separator-line">

<div class="card">
    <div class="card-header">
        <h5>Give feedback here!</h5>
    </div>
    <div class="card-body" >
        <form action="/feedback" method="post" id="form-id">
            <div class="row">
                <div class="col-md-11" id="feedback-input">
                    <input type="text" class="form-control bg-light" id="feedbackComment" name="comment" placeholder="Write here, then click the hand that represents your comment.">
                    <input id="isPositive" name="isPositive" hidden>
                </div>
                <div class="col-md-1 d-flex justify-content-between" >
                    {{!-- <input type="submit" value="Add" class="btn btn-primary w-100">   --}}
                    <a type="submit" class="btn btn-danger btn-delete-note col-md-5" id="dislike-btn">
                        <i class="bi bi-hand-thumbs-down"></i>    
                        <p>{{cantNeg}}</p>   
                    </a>                  
                    <a type="submit" class="btn btn-primary btn-edit-note col-md-5" id="like-btn">
                        <i class="bi bi-hand-thumbs-up"></i>  
                        <p>{{cantPos}}</p>       
                    </a>                               
                </div>
            </div> 
        </form>
    </div>
</div>


<script src="/toastr/toastr.min.js"></script>
<script src="/scripts/toastrValidator.js"></script>
<script src="/scripts/aboutValidator.js"></script>