<div class="card p-3">
  <h1 class="display-14">Notes Web App</h1>
  <p class="lead">This is a simple tool to manage your notes and tasks, here you can create, modify and delete notes and tasks, saving them into the cloud and accessing from everywhere (obviously, with internet connection).</p>
  <p class="mb-2">if you liked this tool, you can give me some feedback... I'll be reading you!</p>
</div>  

  <hr>

{{> feedback}}