<div class="card p-3">
  <h1 class="display-4">Notes Web App</h1>
  <p class="lead">This is a simple tool to manage your notes, here you can create, modify and delete notes, saving it into the cloud and accessing from everywhere (obviously, with internet connection).</p>
  <hr class="my-4">
  <p>if you liked this tool, it's probably that you also likes other tool to manage your daily tasks and activities, check it clicking the button below.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="http://localhost:3000/" target="_blank" role="button">Try Tasks Manager app!</a>
  </p>
</div>