<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            Account LogIn
        </div>
        <div class="card-body">
            <form action="/users/signin" method="POST">
                <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email" name="email">
                </div>
                <div class="form-group pt-3">
                        <input type="password" class="form-control" placeholder="Password" name="pwd">
                        <i class="bi bi-eye-slash-fill" id="show-pwd-img"></i>
                </div>
                <div class="form-group pt-3">
                    <button class="btn btn-primary col-12" type="submit">Sign In</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/toastr/toastr.min.js"></script>
<script src="/toastrValidator.js"></script>
